<%- include("partials/header.ejs") %> 
    <div class="container">
        <h1>Welcome to the Photos from Unsplash : Pg <%= pagenumber %> </h1>
        <div class="row">
        <% for(var i=0;i<photosUN.length;i++){ %> 
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=photosUN[i].cover_photo.urls.small%>" alt="<%= photosUN[i].title %>">
                <div class="card-body">
                  <h5 class="card-title"><%= photosUN[i].title %></h5>
                  <p class="card-text"><%= photosUN[i].description %></p>
                </div>
              </div>
        <% } %> 
        </div>
    </div>
<%- include("partials/footer.ejs") %> 